*.aseprite
/old
*.7z
background/taskbarl_sys.png
background/taskbarl_test1_001.png
background/taskbarl_test1_002.png
background/taskbarl_test1_003.png
background/taskbarl_test2_001.png
background/taskbarl_test2_002.png
background/taskbarl_test2_003.png
background/taskbarl_test3_001.png
background/taskbarl_test3_002.png
background/taskbarl_test3_003.png
background/taskbarlold.png
blank/1.pdn
blank/1.png
blank/2.png
blank/3.png
blank/4.png
button/button1.png
button/button1h.png
button/button2.png
button/button2h.png
button/button3.png
button/button3h.png
button/button4.png
button/button4h.png
button/buttonwow.png
button/buttonwowh.png
debug.log
indexold.html
indexold2.html
test.html
*.aseprite
*.aseprite
*.pdn
blank/1.pdn
blank/1.png
blank/2.png
blank/3.png
blank/4.png
button/button1.png
button/button1h.png
button/button2.png
button/button2h.png
button/button3.png
button/button3h.png
button/button4.png
button/button4h.png
button/buttonwow.png
button/buttonwowh.png
debug.log
main/1.png
test.html
*.log
*.aseprite
*.bat
website/background/deskico.png
website/background/taskbar.png
website/background/taskbarl.png
website/background/taskbarr.png
website/blank/1.png
website/blank/2.png
website/blank/3.png
website/blank/4.png
website/button/button1.png
website/button/button1h.png
website/button/button2.png
website/button/button2h.png
website/button/button3.png
website/button/button3h.png
website/button/button4.png
website/button/button4h.png
website/button/buttonwow.png
website/button/buttonwowh.png
website/index.html
website/main/1.png
